{% extends 'site_template.html' %}

{% block content %}
    <h1 class="display-5">{% block title %} About {% endblock %}</h1>

    <img class="img-fluid" alt="A photo of Joseki Go Center" src="{{ url_for("static", filename="img/Joseki Go Center.jpg") }}">

    <p>
    Joseki Go Center is a sim and community of Go players in Second Life.
    You can visit the Joseki Go Center sim <a href="http://maps.secondlife.com/secondlife/Island%20Treasure/168/96/2598">here</a>.
    This site was created because there are some amazing Go players in our group and it seemed a shame to lose records of those
    games when the rest of us might be interested to see who played who and how the game turned out. So I modified the amazing
    Goban originally created by Dawn - it's a work of art! - and added some code that sends the result of each game together with
    the SGF record of the game to this website.
    </p>
    <p>
    This is not intended to be any kind of ranking system or competition. This is simply a list of games played together with
    their SGF files. The boards at Joseki Go Club will have this feature and if you want a copy of one of our boards for your
    own venue Dawn has been very kindly making them available to Go players for free. You can have one with or without the game
    reporting feature. Just IM someone from Joseki and we'll hook you up.
    </p>
    <p>
    <a href="secondlife:///app/agent/ac657fa6-d44b-4eaf-bf0d-e10c1a3b04c7/inspect">Soosanne</a>
    </p>
{% endblock %}