{% extends 'site_template.html' %}

{% block content %}
    <h1 class="display-5">{% block title %} All Players {% endblock %}</h1>

    <!---
    <div class="list-group">
        {% for player in players %}
        <a href="{{ url_for('view_player', playeruuid=player.player_uuid)}}" class="list-group-item list-group-item-action">
            {{ player.player_name }}
        </a>
        {% endfor %}
    </div>
    --->

    <div id="app">
        <playerlist></playerlist>
    </div>

    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
    <script src="{{ url_for("static", filename="js/vue.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/axios.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/player_list.js") }}"></script>
    <script src="{{ url_for("static", filename="js/vue_app.js") }}"></script>

{% endblock %}