{% extends 'site_template.html' %}

{% block content %}
    <h1 class="display-6">{% block title %} Change password for {{ admin }} {% endblock %}</h1>

    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form action="/change_password" method="POST">
        <div><span>Old password:</span><input type="password" name="old_password" placeholder="Old password"></div>
        <div><span>New password:</span><input type="password" name="new_password" placeholder="New password"></div>
        <div><input type="submit" class="btn btn-primary" value="Change password"></div>
    </form>
{% endblock %}