{% macro game_list(template, games, time_ago) -%}
    <table class="table">
        <thead>
            <tr>
                <th>Date and time</th>
                <th>Players</th>
                <th>Result</th>
                <th>Game setup</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in games.items %}
            <tr>
                <td>
                    {{ time_ago(game.game_datetime) }}
                </td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle r="7" cx="8" cy="8" stroke="black" fill="white" stroke-width="1" />
                    </svg>
                    <a href="{{ url_for('view_player', playeruuid=game.game_whiteplayerdata.player_uuid)}}">
                        {{ game.game_whiteplayerdata.player_name }}
                    </a>
                    vs
                    <a href="{{ url_for('view_player', playeruuid=game.game_blackplayerdata.player_uuid)}}">
                        {{ game.game_blackplayerdata.player_name }}
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle r="7" cx="8" cy="8" stroke="white" fill="black" stroke-width="1" />
                    </svg>
                </td>
                <td>
                    {{ game.game_winnerdata.player_name }}, {{ game.game_score }}
                </td>
                <td>
                    {{ game.game_boardsize }}x{{ game.game_boardsize }}, {{ game.game_handicap }} handicap, {{ game.game_komi }} komi
                </td>
                <td>
                    {% if game.game_sgf != None %}
                        <span class="badge bg-primary rounded-pill py-2">
                            <a class="link-light text-decoration-none" href="{{ url_for('view_game', gameid=game.game_id) }}">view game</a>
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if games.pages > 1 %}
        <div class="d-flex justify-content-between align-items-start">
        <span>
            {% if games.has_prev %}
                <span class="badge bg-secondary rounded-pill mb-1">
                    <a  class="link-light text-decoration-none"
                        href="{{ template }}?page={{ games.prev_num }}">
                        {{ '<<<' }}
                    </a>
                </span>
            {% endif %}

            {% for number in games.iter_pages() %}
                {% if number %}
                    {% if games.page != number %}
                        <span class="badge bg-secondary rounded-pill mb-1">
                                <a  class="link-light text-decoration-none"
                                    href="{{ template }}?page={{ number }}">
                                {{ number }}
                                </a>
                        </span>
                    {% else %}
                        <span class="badge bg-primary rounded-pill mb-1">{{ number }}</span>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>&#8230;</span>
                {% endif %}
            {% endfor %}

            {% if games.has_next %}
                <span class="badge bg-secondary rounded-pill mb-1">
                    <a class="link-light text-decoration-none"
                        href="{{ template }}?page={{ games.next_num }}">
                        {{ '>>>' }}
                    </a>
                </span>
            {% endif %}
        </span>
        </div>
    {% endif %}
{%- endmacro %}

{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{value|e }}" size="{{ size }}">
{%- endmacro %}
