{% extends 'site_template.html' %}

{% block content %}
    <h1 class="display-6">{% block title %} Login {% endblock %}</h1>
    
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form action="/login" method="POST">
        <div><span>Username:</span><input type="text" name="username" placeholder="Username"></div>
        <div><span>Password:</span><input type="password" name="password" placeholder="Password"></div>
        <div><input type="submit" class="btn btn-primary" value="Login"></div>
    </form>
{% endblock %}