{% extends 'site_template.html' %}

{% block content %}
    <h1 class="display-5">{% block title %} Recent Games {% endblock %}</h1>

    <div id="app">
        <gamelist />
    </div>

    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
    <script src="{{ url_for("static", filename="js/vue.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/axios.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/game_card.js") }}"></script>
    <script src="{{ url_for("static", filename="js/game_list.js") }}"></script>
    <script src="{{ url_for("static", filename="js/vue_app.js") }}"></script>

{% endblock %}