{% extends 'site_template.html' %}

{% block content %}
    <h1 class="display-6">{% block title %} {{player.player_name}} Games {% endblock %}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Date and time</th>
                <th>Players</th>
                <th>Result</th>
                <th>Game setup</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>
                    {{ time_ago(game.game_datetime) }}
                </td>
                <td>&#9675;
                    <a href="{{ url_for('view_player', playeruuid=game.game_whiteplayerdata.player_uuid)}}">
                        {{ game.game_whiteplayerdata.player_name }}
                    </a>
                    vs &#11044;
                    <a href="{{ url_for('view_player', playeruuid=game.game_blackplayerdata.player_uuid)}}">
                        {{ game.game_blackplayerdata.player_name }}
                    </a>
                </td>
                <td>
                    {{ game.game_winnerdata.player_name }} by {{ game.game_score }}
                </td>
                <td>
                    {{ game.game_boardsize }}x{{ game.game_boardsize }}, {{ game.game_handicap }} handicap, {{ game.game_komi }} komi
                </td>
                <td>
                    {% if game.game_sgf != None %} <a href="{{ url_for('view_game', gameid=game.game_id) }}">view SGF</a> {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}