{% extends 'site_template.html' %}

{% block content %}
    <h1 class="title">{% block title %} {{player.player_name}} Games {% endblock %}</h1>
    <div class="row">
        <div class="col-2">
            Date and time
        </div>
        <div class="col">
            White player
        </div>
        <div class="col">
            Black player
        </div>
        <div class="col">
            Winner
        </div>
        <div class="col">
            Game setup
        </div>
    </div>
    {% for game in games %}
        <div class="row">
            <div class="col-2">
                {{ game.game_datetime }}
            </div>
            <div class="col">
                {{ game.game_whiteplayerdata.player_name }}
            </div>
            <div class="col">
                {{ game.game_blackplayerdata.player_name }}
            </div>
            <div class="col">
                {{ game.game_winnerdata.player_name }} by {{ game.game_score }}
            </div>
            <div class="col">
                {{ game.game_boardsize }}x{{ game.game_boardsize }}, {{ game.game_handicap }} handicap, {{ game.game_komi }} komi
            </div>
        </div>
    {% endfor %}
{% endblock %}