{% extends 'site_template.html' %}

{% block content %}
    <h1 class="display-6">{% block title %} {{tournament.tournament_name}} {% endblock %}</h1>

    {% if admin %}
    <div style="width:100%;">
        <span class="badge bg-secondary rounded-pill mb-1 float-right"><a class="link-light text-decoration-none" href="{{ url_for('edit_tournament_text', tournament_id=tournament.tournament_id) }}">edit</a></span>
    </div>
    {% endif %}
    <div>{{ tournament.tournament_text | safe }}</div>

{% if games.items %}
    <h2>Games</h2>

    {% import "game_list.html" as gameslist %}
    {{ gameslist.game_list(url_for('view_tournament', tournament_id=tournament.tournament_id), games, time_ago) }}

{% endif %}
{% endblock %}